body{
    color: #fff;
    background-color: #1f1f1f;
    padding: 0px;
    margin: 0px;
}
#logocen{
    position: absolute; top: 30px; width: 100%; left: 0px; height: 100px;
    perspective: 500px;
    z-index: 2;
}

.logodiv{
    text-align: center;
    color: #ffffff;
    width: 80%;
    height: 200px;
    overflow: hidden;
    background-color: #0e1127;
    line-height: 200px;
    font-size: 35px;
    border: 1px solid #ffffff;
    transition: transform 1s linear, height 1s linear, top 1s linear, line-height 1s linear;
    backface-visibility: visible;
}
div#logodiv.nick{
    transform: rotateY(0deg);
}

div#logodiv.name{
    transform: rotateY(180deg);
}

div#logodiv > div.nick{
    transform: scaleX(+1);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #0e1127;
}
div#logodiv > div.name{
    transform: scaleX(-1);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #0e1127;
}



#content{
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 260px;
}
#info{
    font-size: 20px;
    overflow: auto;
    text-align: justify;
    padding: 5px;
}
#photos{
    background-color: #ff0000;
}