body{
    color: #fff;
    background-color: #1f1f1f;
    padding: 0px;
    margin: 0px;
}
#logocen{
    position: absolute; top: 50px; width: 100%; left: 0px; height: 100px;
    perspective: 200px;
}

.logodiv{
    text-align: center;
    position: relative;
    color: #ffffff;
    width: 80%;
    height: 500px;
    overflow: hidden;
    background-color: #0e1127;
    line-height: 500px;
    font-size: 100px;
    transition: transform 1s linear, height 1s linear, top 1s linear, line-height 1s linear;
}
div#logodiv > span{
    display: inline-block;
    transition: transform 0s linear 0.5s;
}

div#logodiv.nick{
    transform: rotateX(0deg);
}
div#logodiv.nick > span{
    transform: scaleY(1);
}

div#logodiv.name{
    transform: rotateX(180deg);
}
div#logodiv.name > span{
    transform: scaleY(-1);
}


#content{
    position: absolute;
    left: 0px;
    top: 600px;
    overflow: auto;
    text-align: justify;
    padding: 5px;
}
