body{
    color: #000;
}

div#maindiv_red{
    position: relative;
    text-align: center;
    font-size: 100px;
    top: 0px;
    color: #ffffff;
    transform: skewX(0deg);
    width: 400px;
    height: 200px;
    line-height: 200px;
    font-size: 50px;
    background-color: #f00;
    overflow: hidden;
    
    transition: transform 1s linear, height 1s linear, top 1s linear, line-height 1s linear, font-size 1s linear;
}
div#maindiv_red.close{
    top: 100px;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    transform: skewX(89deg);
    transition: transform 1s linear, height 1s linear, top 1s linear, line-height 1s linear, font-size 1s linear;
}
div#maindiv_blue{
    text-align: center;
    font-size: 0px;
    top: 100px;
    position: relative;
    color: #ffffff;
    transform: skewX(-89deg);
    height: 0px;
    line-height: 0px;
    width: 400px;
    background-color: #00f;
    overflow: hidden;
    
    transition: transform 1s linear, height 1s linear, top 1s linear, line-height 1s linear, font-size 1s linear;
}
div#maindiv_blue.open{
    top: 0px;
    height: 200px;
    line-height: 200px;
    font-size: 50px;
    transform: skewX(0deg);
    transition: transform 1s linear, height 1s linear, top 1s linear, line-height 1s linear, font-size 1s linear;
}
.logo_div{
}

/*

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

*/

