body{
    color: #fff;
    background-color: #1f1f1f;
    padding: 0px;
    margin: 0px;
}

#logocen{
    position: absolute;
    width: 100%;
    left: 0px;
    height: 100px;
    z-index: 2;
}
.logodiv{
    text-align: center;
    color: #ffffff;
    height: 200px;
    overflow: hidden;
    background-color: #0e1127;
    line-height: 200px;
    border: 1px solid #ffffff;
    -webkit-transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    transition: transform 1s linear;
}
div#logodiv > span{
    display: inline-block;
    -webkit-transition: transform 0s linear 0.5s;
    -moz-transition: transform 0s linear 0.5s;
    transition: transform 0s linear 0.5s;
}
div#logodiv.nick{
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
div#logodiv.nick > span{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
div#logodiv.name{
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
div#logodiv.name > span{
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
}

#content{
    z-index: 1;
}
