#logocen{
    position: absolute; top: 50px; width: 100%; left: 0px; height: 100px;
    perspective: 200px;
}

.logodiv{
    width: 400px;
    height: 200px;
    line-height: 200px;
    font-size: 50px;
}


div#logodiv.nick{
    transform: rotateX(0deg);
}
div#logodiv.nick > span{
    transform: scaleY(1);
}

div#logodiv.name{
    transform: rotateX(180deg); 
}
div#logodiv.name > span{
    transform: scaleY(-1);
}

#content{
    bottom: 0px;
    right: 0px;
    width: 50%;
    top: 300px;
}
