body{
    overflow-x: hidden;
}
#logocen{
    top: 30px;
    -webkit-perspective: 50vw;
    perspective: 50vw;
}

.logodiv{
    width: 80%;
    font-size: 35px;
}

/*#content{
    position: absolute;
    left: 0px;
    top: 260px;
}
#info{
    padding: 5px;
}

#photos{
    perspective: 100vw;
    height: 300px;
}*/
